@font-face {
    font-family: 'pixelArtFont';
    src: url('../Fonts/DIEDIEDI.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #8B0000; /* Dark Red */
    --secondary-color: #B22222; /* Firebrick */
    --accent-color: #DC143C; /* Crimson */
    --text-color: #FFFFFF; /* White */
    --font-family: 'pixelArtFont';
    --secondary-color-dark: #9b1b1b; /* 10% darker Firebrick */
}

body {
    font-family: var(--font-family);
    background-image: url("../Wallpaper/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin: 0 0 10px;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Black outline */
}

p {
    margin: 0 0 15px;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color-dark);
}

/* Handwritten effect */
.handwritten span {
    display: inline-block;
    transition: transform 0.1s ease-in-out;
    font-size: 1em;
}
