@font-face {
    font-family: 'pixelArtFont';
    src: url('Assets/Fonts/super-mario-64-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #8B0000; /* Dark Red */
    --secondary-color: #B22222; /* Firebrick */
    --accent-color: #DC143C; /* Crimson */
    --background-color: #2C2C2C; /* Dark Gray */
    --text-color: #FFFFFF; /* White */
    --font-family: 'MyCustomFont', sans-serif;
}

body {
    font-family: var(--font-family);
    background-image: url("Assets/Wallpaper/wallpaper.jpg");
    background-size: 100vw 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin: 0 0 10px;
}

p {
    margin: 0 0 15px;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: darken(var(--secondary-color), 10%);
}
